* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #008E9B, #008F7A);
  background-size: cover;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  width: 70%;
  height: 45rem;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: 
   translate(-50%, -50%);
  display: flex;
  text-align: center;
  
}

.player0 {
  padding-top: 3rem;
}

.active {
  background-color: #C4FCEF;
}

.player1 {
  /* background-color: #FEF7FF; */
  padding-top: 3rem;
}


.player0 > h2,
.player1 > h2{
   padding-top: 5rem;
   font-weight: lighter;
   letter-spacing: 1px;
   word-spacing: 2px;
   font-size: 4rem;
}


.player0 > div,
.player1 > div {
    background-color: orangered;
    width: 30%;
    margin: auto;
    padding: 1rem;
    font-size: 1.3rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
    color: wheat;
}

.counter {
    font-size: 3rem;
}

.player0 > p,
.player1 > p {
   padding-top: 2rem;
   font-weight: 100;
   font-size: 12rem;
   color: orangered;
   letter-spacing: 1px;
   word-spacing: 2px;
}

.btn,
.dice {
  position: absolute;
  left: 50%;
  transform: 
  translate(-50%, -50%);
  font-weight: lighter;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;
  padding: 0.8rem;
  outline: none;
  transition: all 0.2s;
}

.winner {
  background-color: green;
  color: whitesmoke;
  padding-top: 2rem;
}

.btn-animated {
    animation: names 0.8s ease 1s;
    animation-fill-mode: backwards;
}

@keyframes names {
  0% {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  100% {
      transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border: none;
}

.btn--new {
  top: 10%;
}

.btn-roll {
  top: 70%;
}

.dice {
  top: 50%;
  height: 7rem;
}

.btn-hold {
  top: 83%;
}

.player0,
.player1 {
  width: 50%;
}

@media (max-width: 768px) {
  html {
    font-size: 22.5%;
  }
  .winner {
    font-size: 1px;
  }
}