* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #008E9B, #008F7A);
  background-size: cover;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  width: 70%;
  height: 45rem;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: 
   translate(-50%, -50%);
  display: flex;
  text-align: center;
  z-index: 5;
  
}

.player0 {
  padding-top: 3rem;
}

.active {
  background-color: #C4FCEF;
}

.player1 {
  /* background-color: #FEF7FF; */
  padding-top: 3rem;
}


.player0 > h2,
.player1 > h2{
   padding-top: 5rem;
   font-weight: lighter;
   letter-spacing: 1px;
   word-spacing: 2px;
   font-size: 4rem;
}


.player0 > div,
.player1 > div {
    background-color: orangered;
    width: 30%;
    margin: auto;
    padding: 1rem;
    font-size: 1.3rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
    color: wheat;
}

.counter {
    font-size: 3rem;
}

.player0 > p,
.player1 > p {
   padding-top: 2rem;
   font-weight: 100;
   font-size: 12rem;
   color: orangered;
   letter-spacing: 1px;
   word-spacing: 2px;
}

.btn,
.dice,
.final-score {
  position: absolute;
  left: 50%;
  transform: 
  translate(-50%, -50%);
  font-weight: lighter;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;
  padding: 0.8rem;
  outline: none;
  transition: all 0.2s;
}

.final-score {
  top: 95%;
  width: 10rem;
  font-size: 1rem;
  border-radius: 0;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #008F7A;
  color: white;
}

.final-score::placeholder {
  color: white;
}

.winner {
  background-color: green;
  color: whitesmoke;
  padding-top: 2rem;
}

.btn-animated {
    animation: names 0.8s ease 1s;
    animation-fill-mode: backwards;
}

@keyframes names {
  0% {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  100% {
      transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border: none;
}

.btn--new {
  top: 10%;
}

.btn-roll {
  top: 70%;
}

#dice1 {
  left: 55%
}

#dice2 {
  left: 45%
}

.pop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
   /* opacity: 1;
  visibility: visible; */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pop:target {
  opacity: 1;
  visibility: visible;
}

.rules {
  text-align: center;
  font-size: 2rem;
  margin: auto;
  margin-top: 2rem;
  background-color: orangered;
  width: 20%;
  padding: 1rem;
  border-radius: 1rem;
  
}

.rules a {
  text-decoration: none;
  color: white;
 
}

.pop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
          transform: translate(-50%, -50%);
  background-color: white;
  color: green;
  padding: 2rem;
  font-size: 2rem;
  width: 80%;
}

.pop-close:link, .pop-close:visited {
  font-size: 4rem;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pop-close:hover {
  color: yellow;
}

.pop p {
  padding: 1rem;
}

.dice {
  top: 50%;
  height: 7rem;
}

.btn-hold {
  top: 81%;
}

.player0,
.player1 {
  width: 50%;
}

@media (max-width: 768px) {
  html {
    font-size: 22.5%;
  }
  .winner {
    font-size: 1px;
  }
  .rules {
  top: 30%;
  width: 40%;  
}
}